html {
    height: 100%;
}

body {
    background: url('upload.jpg') #100520;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font: 1rem/1.5 Open Sans, sans-serif;
    height: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.manual {
    overflow: hidden;
}

.parallax {
    background: url(images/bg_lines.svg) no-repeat;
    padding: 130px 0;
    background-size: cover;
    background-position: 0 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
}

.container {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 75px;
    position: relative;
    z-index: 10;
}

.logo {
    height: 130px;
    position: relative;
}

.logo a {
    display: block;
}

.logo a img {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto 0;
}

.logo a img.google__play {
    left: 0;
}

.logo a img.logo__img {
    right: 0;
}

.logo svg {
    width: 11rem;
    height: 130px;
    float: right;
}

.btn {
    color: #ffffff;
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
    border-radius: 25px;
    padding: 10px 30px;
    text-decoration: none;
    border: 2px solid rgba(110, 58, 128, 0.8);
    transition: 1s;
    cursor: pointer;
}

.btn:hover {
    transition: 1s;
    background: rgba(110, 58, 128, 0.3);
}

.content.error {
    color: red;
}

input.btn {
    background-color: #100520;
    width: 330px;
    font-size: 0.8em;
    text-align: center;
    height: 30px;
    vertical-align: bottom;
}

.box {
    font-size: 1.25rem; /* 20 */
    background-color: transparent;
    position: relative;
    padding: 75px 20px;
    overflow: auto;
    cursor: pointer;
    color: #ffffff;
}

.box.has-advanced-upload {
    border: 2px dashed #f04d4f;
    border-radius: 25px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.has-advanced-upload:hover {
    background-color: rgba(255, 0, 0, .1);
}

.box.has-advanced-upload:hover {
    outline-offset: -10px;
}

.box strong {
    border: 2px solid #ff0000;
    border-radius: 25px;
    padding: 5px 10px;
    margin-right: 15px;
    font-weight: 100;
}

.box__dragndrop,
.box__icon {
    display: none;
}

.box.has-advanced-upload .box__dragndrop {
    display: inline;
}

.box.has-advanced-upload .box__icon {
    width: 100%;
    height: 80px;
    fill: #ff0000;
    display: block;
    margin-bottom: 40px;
}

.box.is-dragover {
    outline-offset: -25px;
    outline-color: #CCC;
    background-color: rgba(255, 0, 0, .6);
}

.box.is-dragover .box__icon {
    fill: #FFF;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input {
    visibility: hidden;
}

.box__uploading,
.box__success,
.box__error {
    display: none;
}

.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box__success_msg {
    display: inline-block;
    max-width: 94%;
}

.box__success_msg, .box__error > span {
    font-weight: 100;
    text-align: left;
    display: inline-block;
}

.box__sender_address {
    font-size: .7em;
    color: #faa;
    cursor: pointer;
}

.box__sender_address:hover {
    color: #fff;
    text-decoration: underline;
}

.box__uploading {
    font-weight: 100;
}

.box__success {
    padding: 5px;
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}

.content h3 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    padding: 20px 40px;
    margin: 35px 0;
}

section {
    position: relative;
    height: 160px;
    margin: 60px 0 60px 0;
}

section img {
    left: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
}

section .info {
    position: absolute;
    right: 0;
    width: 60%;
    font-size: 16px;
    bottom: 0;
    top: 0;
    margin: auto;
    display: table;
}

section .info p {
    font-size: 22px;
}

section.block_right img {
    right: 0;
    left: inherit;
}

section.block_right .info {
    left: 0;
    right: inherit;
}
section.faq {
    height: auto;
}

section.faq h3 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}

section.faq h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    color: #e31e24;
    margin: 20px 0;
}

section.faq p{
    font-size: 22px;
    margin-bottom: 60px;
}

section.faq p a{
    color: #e31e24;
}

hr {
    background-color: #8d5383;
    height: 2px;
    border: none;
    width: 42px;
}

.container img.back {
    margin: 40px;
}

.s1 {
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
}
.s2 {
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
}
.s3 {
    animation-duration: 3.5s;
    -webkit-animation-duration: 3.5s;
}
.s4 {
    animation-duration: 4.5s;
    -webkit-animation-duration: 4.5s;
}

.animateLeft,
.animateRight {
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
.animateRight.s1{
    animation-name: animateRight-s1;
    -webkit-animation-name: animateRight-s1;
}
.animateLeft.s1{
    animation-name: animateLeft-s1;
    -webkit-animation-name: animateLeft-s1;
}
.animateRight.s2{
    animation-name: animateRight-s2;
    -webkit-animation-name: animateRight-s2;
}
.animateLeft.s2{
    animation-name: animateLeft-s2;
    -webkit-animation-name: animateLeft-s2;
}
.animateRight.s3{
    animation-name: animateRight-s3;
    -webkit-animation-name: animateRight-s3;
}
.animateLeft.s3{
    animation-name: animateLeft-s3;
    -webkit-animation-name: animateLeft-s3;
}
.animateRight.s4{
    animation-name: animateRight-s4;
    -webkit-animation-name: animateRight-s4;
}
.animateLeft.s4{
    animation-name: animateLeft-s4;
    -webkit-animation-name: animateLeft-s4;
}

@keyframes animateRight-s1 {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes animateRight-s1 {
    0% {
        -webkit-transform: translateX(-200%);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes animateLeft-s1 {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes animateLeft-s1 {
    0% {
        -webkit-transform: translateX(200%);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateX(200%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes animateRight-s2 {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    52% {
        -webkit-transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes animateRight-s2 {
    0% {
        -webkit-transform: translateX(-200%);
        opacity: 0;
    }
    52% {
        -webkit-transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes animateLeft-s2 {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    52% {
        -webkit-transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes animateLeft-s2 {
    0% {
        -webkit-transform: translateX(200%);
        opacity: 0;
    }
    52% {
        -webkit-transform: translateX(200%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes animateRight-s3 {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    65.7% {
        -webkit-transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes animateRight-s3 {
    0% {
        -webkit-transform: translateX(-200%);
        opacity: 0;
    }
    65.7% {
        -webkit-transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes animateLeft-s3 {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    65.7% {
        -webkit-transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes animateLeft-s3 {
    0% {
        -webkit-transform: translateX(200%);
        opacity: 0;
    }
    65.7% {
        -webkit-transform: translateX(200%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes animateRight-s4 {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    73.3% {
        -webkit-transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes animateRight-s4 {
    0% {
        -webkit-transform: translateX(-200%);
        opacity: 0;
    }
    73.3% {
        -webkit-transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes animateLeft-s4 {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    73.3% {
        -webkit-transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes animateLeft-s4 {
    0% {
        -webkit-transform: translateX(200%);
        opacity: 0;
    }
    73.3% {
        -webkit-transform: translateX(200%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes appear-from-inside {
    from {
        -webkit-transform: translateY(-50%) scale(0);
    }
    75% {
        -webkit-transform: translateY(-50%) scale(1.1);
    }
    to {
        -webkit-transform: translateY(-50%) scale(1);
    }
}

@keyframes appear-from-inside {
    from {
        transform: translateY(-50%) scale(0);
    }
    75% {
        transform: translateY(-50%) scale(1.1);
    }
    to {
        transform: translateY(-50%) scale(1);
    }
}

.box__restart {
    font-weight: 700;
    cursor: pointer;
}

.box__restart:focus,
.box__restart:hover {
    color: #FFF;
}

.js .box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box__labelFile_file {
    display: none;
}

.js .box__file + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline;
    overflow: hidden;
}

.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong {
    color: #fff;
}

.js .box__file:focus + label,
.js .box__file.has-focus + label {
    outline: 1px dotted #000;
}

.js .box__file + label * {
    /* pointer-events: none; */ /* in case of FastClick lib use */
}

.no-js .box__file + label {
    display: none;
}

.no-js .box__button {
    display: block;
}

.box__button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: none;
    padding: 8px 16px;
    margin: 40px auto 0;
}

.box__button:hover,
.box__button:focus {
    background-color: #f00;
}

.block_client_address_info {
    margin-top: 2em;
    text-align: left;
}

.content {
    width: 66.6%;
    font-size: 15px;
    text-align: left;
    color: #ffffff;
    margin: 45px auto 0;
}

footer {
    font-size: .8rem;
    text-align: center;
    position: absolute;
    left: 25%;
    bottom: 20px;
    width: 50%;
    height: auto;
    color: #a87ad4;
    margin: 0 auto;
    z-index: 10;
}

footer .link {
    width: 25%;
    display: inline-block;
    float: left;
}

footer .link.social_networks {
    width: 50%;
}

footer .link.social_networks a {
    margin: 0 10px;
    display: inline-block;
    line-height: 1rem;
}

footer .link.mail {
    text-align: left;
}

footer .link.copyright {
    text-align: right;
}

footer a {
    color: #a87ad4;
}

@media screen and (max-width: 992px) {
    .manual .container .content h3 {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .manual .container,
    .manual .container .content,
    .manual footer {
        width: 100%;
    }
    .wrapper.manual {
        padding: 0 25px;
    }
    .manual .box__error {
        padding: 0 10px;
    }
    .manual .box__error > span {
        text-align: center;
    }
    .manual section {
        text-align: center;
        height: auto;
    }
    .manual section .info {
        position: relative;
        width: auto;
        display: block;
        padding: 0 20%;
    }
    .manual section img {
        position: relative;
        display: inline-block;
    }
    .manual footer {
        box-sizing: border-box;
        padding: 0 25px;
        left: 0;
        bottom: 10px;
        height: auto;
    }
}

@media screen and (max-width: 700px) {
    .container,
    .container .content,
    footer {
        width: 100%;
    }
    .wrapper {
        padding: 0 25px;
    }
    .box__error {
        padding: 0 10px;
    }
    .box__error > span {
        text-align: center;
    }

    footer {
        box-sizing: border-box;
        padding: 0 25px;
        left: 0;
        bottom: 10px;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .js .box__file + label {
        white-space: pre-line;
    }
    .box strong,
    .js .box__file + label span {
        display: inline-block;
        margin: 0 auto 10px;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .container {
        padding-bottom: 100px;
    }
    footer {
        bottom: 0;
    }
    footer .link {
        width: 100% !important;
        margin-bottom: 10px;
        text-align: center !important;
    }
    .logo a {
        display: inline-block;
    }
    .logo a:first-child {
        margin: 18.5px 10px ;
    }
    .logo a img {
        position: relative;
    }
    .manual section .info {
        padding: 0;
    }
}